/* Container for all forms */
.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: #fff5f0;
}

/* Form title */
.form-title {
  font-size: 36px;
  color: #7d2b12;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgb(179, 36, 36);
}

/* Welcome page title */
.welcome-title {
  font-size: 40px;
  color: #7d2b12;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px rgb(179, 36, 36);
}

/* Form box */
.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Input fields */
.form-input {
  padding: 10px 15px;
  margin: 10px 0;
  width: 250px;
  border: 2px solid #c73838;
  border-radius: 8px;
  font-size: 16px;
}

/* Buttons */
.form-btn {
  padding: 10px 25px;
  margin-top: 15px;
  background: #ffffff;
  color: #ff0015;
  border: 2px solid #c73838;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.form-btn:hover {
  background: #f77992;
  color: #fff;
}

/* Back button */
.back-btn {
  margin-top: 15px;
  padding: 8px 20px;
  background: #ffffff;
  color: #7d2b12;
  border: 2px solid #7d2b12;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.back-btn:hover {
  background: #7d2b12;
  color: #fff;
}
