
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #fff5f0;
}


.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;  
  background-color: #f77992;  
}


.home-logo h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.home-buttons {
  display: flex;
  gap: 15px;
}

.home-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: white;
  color: #ff6b6b;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.home-btn:hover {
  background-color: #ffe6e6;
}


.home-main {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  box-sizing: border-box;
}

.home-quote {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 40px;
  color: #333;
  font-family: Georgia, serif;
}


.slider-container {
  width: 100%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.25);
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}


.home-footer {
  text-align: center;
  padding: 15px 0;
  background-color: #333;
  color: red;
  font-size: 0.9rem;
}
.home-logo {
  flex: 1;
  display: flex;
  justify-content: center;
}