.welcome-container {
  text-align: center;
  padding: 30px;
  font-family: Arial;
}


.welcome-title {
  font-size: 32px;
  font-weight: bold;
  color:#f77992;
  margin-bottom: 30px;
}


.blocks-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}


.block {
  width: 180px;
  height: 180px;
  background: white;
  border-radius: 14px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.block:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 25px rgba(0,0,0,0.25);
}

.block img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.block p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}


.logout-btn {
  margin-top: 40px;
  width: 100px;
  height: 50px;
  padding: 10px 5px;
  background: #f77992;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #e64a19;
}